<div>
    <header>
        <h3>Trip Details</h3>
    </header>
    <p>
        <p><strong>Trip ID:</strong> <%= @trip.id %></p>
        <p><strong>Trip date:</strong> <%= @trip.date.to_s %></p>
        <p><strong>Trip cost:</strong> <%= @trip.cost %></p>
        <p><strong>Trip rating:</strong> <%= @trip.rating %></p>

        <p><strong>Passenger name:</strong>
            <% if Passenger.find_by(id: @trip.passenger_id) %>
            <%= link_to Passenger.find_by(id: @trip.passenger_id).name, passenger_path(@trip.passenger_id) %>
            <% else %>
            No Passenger on file
            <% end %>
        </p>
        <p><strong>Driver name:</strong>
            <% if Driver.find_by(id: @trip.driver_id) %>
            <%= link_to Driver.find_by(id: @trip.driver_id).name, driver_path(@trip.driver_id) %>
            <% else %>
            No Driver on file
            <% end %>
        </p>

        <h2> Update trip rating </h2>
        <% 5.times do |i|%>
        <%= link_to i+1, update_trip_rating_path(rating_value: i+1), method: :Patch %>
        <% end %>

        <p><%= link_to "Delete trip", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"} %> </p>
        <p><%= link_to "Edit trip", edit_trip_path(@trip.id) %> </p>

</div>