<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>

  <div>
    <%= f.label :available %>
    <%= f.select :available, [["available", true], ["not available", false]] %>
  </div>

  <div>
    <%= f.submit "Save driver", class: "driver_button" %>
  </div>
<% end %>