<div>
    <header>
        <h4><%= @driver.name %></h4>
    </header>
    <p><strong>VIN</strong>: <%= @driver.vin %></p>
    <p><strong>Status</strong>: <%=  @driver.available ? "Available" : "Not Available" %></p>
    <p><strong>Average Rating</strong>: <%= @driver.average_rating %></p>
    <p><strong>Total Earnings</strong>: $<%= @driver.total_revenue %> </p>


    <% mark_available= (!@driver.available) ? 'Mark Available' : 'Mark Unavailable' %>
    <% mark_available_css = (@driver.available) ? "btn btn-outline-warning": "btn btn-outline-success" %>
    <%= link_to mark_available, update_driver_status_path(@driver), method: :Patch, class: mark_available_css %>
</div>
<p>
    <%= link_to "Edit", edit_driver_path(@driver.id)%> |
    <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %> 
    <%# <%= link_to "Add a trip", new_trip_path(@driver.id) %> 
    <%# ToDo if there is a driver id passed, display that in the form, %>

</p>

    <%= render partial: "./shared/trips", locals: { user_type: @driver } %>
</div>