<!DOCTYPE html>
<html>

<head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="px-2">
    <h1>Ada Ride Share</h1>
    <div class="dropdown  m-0 bg-primary d-inline-block">
        <button class=" btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
            <%= link_to "Home", root_path %>
        </button>
    </div>
    <div class="dropdown m-1 bg-primary d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drivers
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Drivers", drivers_path, class: "dropdown-item" %>
            <%= link_to "Add Driver", new_driver_path, class: "dropdown-item" %>
        </div>
    </div>
    <div class="dropdown m-2 bg-primary d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Passengers
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Passengers", passengers_path, class: "dropdown-item" %>
            <%= link_to "Add Passenger", new_passenger_path, class: "dropdown-item" %>
        </div>
    </div>
    <%= yield %>
</body>

</html>